<div class="artboard">
    <section class="canvas">
      <input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>
    </section>
    <section class="tools">
      
      <button class="tool">
        <i class="fas fa-undo tool__icon"></i>
      </button>

      <button class="tool">
        <i class="fas fa-redo tool__icon"></i>
      </button>

      <button class="tool">
        <i class="fas fa-save tool__icon"></i>
      </button>

      <button class="tool tool--active">
        <i class="fas fa-trash tool__icon"></i>
      </button>
    </section>
  </div>
