<div class="sidebar">
    <section class="menu">
      <button class="menu__button menu__button--active">
        <i class="fas fa-crop-alt menu__icon"></i>
        <span class="menu__text">Cortar</span>
      </button>
      <button class="menu__button ">
        <i class="fas fa-object-group menu__icon"></i>
        <span class="menu__text">Agrupar</span>
      </button>
      <button class="menu__button">
        <i class="fas fa-font menu__icon"></i>
        <span class="menu__text">Texto</span>
      </button>
      <button class="menu__button">
        <i class="fas fa-sliders-h menu__icon"></i>
        <span class="menu__text">Filtros</span>
      </button>
      <button class="menu__button">
        <i class="fas fa-expand menu__icon"></i>
        <span class="menu__text">Canvas</span>
      </button>
    </section>
  </div>
